.outer{
	width: 100vw;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.inner {
	font-size: 2vw;
	color: white;
	display: block;
	float: left;
	padding-left: 6vw;
	padding-right: 5vw;
	padding-top: 3vh;
	padding-bottom: 3vh;
	text-align: center;
	text-decoration: none;
}

.inner:hover {
	background-color: #111;
	border-bottom: solid #39ff14 5px;
}
